/* This is a stylesheet written in Sass, a language for generating CSS 
stylesheets from sass-lang.com
To compile: 
 $ sass --watch <filename>.scss:<filename>.css
*/
/** Mixins **/
/** Declarations **/
/* line 78, www.scss */
body {
  font-family: "Open Sans", "sans-serif";
  font-size: 17.83154px;
  height: 100%;
  color: #666666;
}

/* line 87, www.scss */
#nav {
  float: left;
  width: 192.89379px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0px;
}
/* line 93, www.scss */
#nav #header {
  padding: 6.87919px;
  margin: 6.87919px;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 28.70878px;
  color: black;
}
/* line 101, www.scss */
#nav #header #subheader {
  font-size: 28.70878px;
}

/* line 107, www.scss */
#content {
  margin-left: 199.77298px;
  width: 805px;
}

/* line 112, www.scss */
ul.nav {
  padding: 0;
  margin: 0px;
}

/* line 116, www.scss */
li.nav-item {
  list-style-type: none;
  padding: 6.87919px;
  margin: 6.87919px;
}
/* line 119, www.scss */
li.nav-item a {
  text-decoration: none;
  font-family: "Open Sans";
  color: black;
}

/* line 125, www.scss */
.section {
  padding: 6.87919px;
  margin: 17.83154px;
}

/* line 129, www.scss */
h1, h2, h3, h4 {
  font-family: "Open Sans";
  color: black;
}

/* line 136, www.scss */
.hidden {
  display: none;
}
