{% import "macros.html" as macros %}
{% extends "item_list_sidebar.html" %}
{% block title %}Document List{% endblock %}
{% block page_header %}
{{ macros.breadcrumbs([
        (url_for('uploader.project_list'), "Projects"),
        ("", project.name)
        ])}}
{% endblock %}

{% block creation_form %}

{% set tooltip_args = {"data-toggle": "tooltip", "data-placement": "top"} %}
    {% set process_button_class = "" %}
    {% set mapper_button_class = "" %}
    {% set delete_button_class = "" %}
    {% set analyze_button_class = "" %}
    
    {% if not project.is_processable() %}
        {% set process_button_class = " disabled" %}
        {% set process_button_tooltip = "This project cannot be processed" %}
    {% endif %}

    {% if not project.document_files %}
        {% set mapper_button_class = "disabled" %}
        {% set mapper_button_tooltip = "You need to upload at least one document first." %}
        {% set process_button_tooltip = "You need to upload at least one document first." %}
    {% endif %}

    {% if not project.structure_files %}
        {% set process_button_tooltip = "You need to upload or create a structure map first." %}
    {% endif %}

    {% if project.status > 0 %}
        {% set mapper_button_tooltip = "You can only do this before processing" %}
        {% set delete_button_tooltip = "You can only do this before processing" %}
        {% set mapper_button_class = " disabled" %}
        {% set delete_button_class = " disabled" %}    
    {% endif %} 
    {% if project.status < 2 %}
        {% set analyze_button_tooltip = "You can only do this after processing" %}
        {% set analyze_button_class = " disabled" %}
    {% endif %}
    {% if user_role == 0 %}
        {% set mapper_button_class = " disabled" %}
        {% set delete_button_class = " disabled" %}    
        {% set process_button_class = " disabled" %}
        {% set process_button_tooltip = "You don't have permission to do this" %}
        {% set delete_button_tooltip = "You don't have permission to do this" %}
        {% set mapper_button_tooltip = "You don't have permission to do this" %}
        {% set permissions_button_tooltip = "You don't have permission to do this" %}
    {% endif %}


<!-- buttons -->
    <span data-toggle="tooltip" data-placement="top" class="has-tooltip" 
        title="{{ analyze_button_tooltip }}">
            <a class="btn btn-primary {{ analyze_button_class }}" 
            role="button" href="{{url_for('wordseer.ext_app', project_id=project.id)}}"}>
                <i class="glyphicon glyphicon-search"></i> Explore data
            </a> 
    </span>&nbsp;
    
    <span data-toggle="tooltip" data-placement="top" class="has-tooltip" 
        title="{{ process_button_tooltip }}">
        <a class="btn btn-warning {{process_button_class}}">
            <i class="glyphicon glyphicon-tasks"></i>
            Process documents
        </a>
    </span>&nbsp;

    <span data-toggle="tooltip" data-placement="top" class="has-tooltip" 
        title="{{ mapper_button_tooltip }}">
        <a class="btn btn-info {{mapper_button_class}}">
            <i class="glyphicon glyphicon-list" id='structure-button'></i>
            Map document structure
        </a> 
    </span>&nbsp;

    {% if user_role > 0 %}
    <span data-toggle="tooltip" data-placement="top" class="has-tooltip" 
        title="{{ permissions_button_tooltip }}">
    <a href="{{ url_for("uploader.project_permissions", project_id=project.id) }}",
       class="btn btn-default"><i class="glyphicon glyphicon-user"></i> Users</a>
    </span>
    {% endif %}

{% endblock %}

{% block list_form %}
    

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{% if project.status == 0 and not struc_active %}active{% endif %}"><a href="#docs" aria-controls="docs" role="tab" data-toggle="tab">Documents</a></li>
        <li role="presentation" class="{% if struc_active %}active{% endif %}"><a href="#struc" aria-controls="struc" role="tab" data-toggle="tab">Structure Maps</a></li>
        <li role="presentation" class="{% if project.status > 0 %}active{% endif %}"><a href="#log" aria-controls="log" role="tab" data-toggle="tab">Processing Log</a></li>
        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {% if project.status == 0 and not struc_active %}active {% endif %}panel panel-default" id="docs">
            {% if project.status == 0 and user_role > 0 %}
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data"
                      class="form-inline clearfix upload" role="form" >
                    {{ doc_form.hidden_tag() }}
                    {{ macros.render_field(doc_form.uploaded_file,
                        multiple="multiple",
                        accept=allowed_extensions_doc|join(", "),
                        button=doc_form.upload_button(
                            class="btn btn-primary left-margin",
                            icon="glyphicon-cloud-upload"),
                        help=("Allowed extensions: " + allowed_extensions_doc|join(", ") +
                            ".")) }}
                </form>
            </div>
            {% endif %}
            
            {% if project.document_files %}
                <ul class="list-group">
                    {% for document in project.document_files %}
                    <li class="list-group-item">
                        {{ document.path.split('/')[-1] }}
                        <span data-toggle="tooltip" data-placement="top" class="has-tooltip" title="{{ mapper_button_tooltip }}">
                            <!-- <a class="btn btn-info {{mapper_button_class}}">
                                <i class="glyphicon glyphicon-list" id='structure-button'></i>
                                Map structure
                            </a> -->
                            
                        </span>

                        
                    </li>
                    
                    {% endfor %}    
                </ul>
            {% else %}
            <div class="panel-footer">
                <p>There are no Documents in this project.</p>
                <p>Use the form above to upload the documents you want to analyze.</p>
            </div>
            {% endif %}

        </div>
        <div role="tabpanel" class="tab-pane panel panel-default {% if struc_active %}active{% endif %}" id="struc">
            {% if project.status == 0 and user_role > 0 %}
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data"
                      class="form-inline clearfix upload" role="form">
                    {{ struc_form.hidden_tag() }}
                    {{ macros.render_field(struc_form.uploaded_file,
                        multiple="multiple",
                        accept=allowed_extensions_struc|join(", "),
                        button=struc_form.upload_button(
                            class="btn btn-primary left-margin",
                            icon="glyphicon-cloud-upload"),
                        help=("Allowed extensions: " + allowed_extensions_struc|join(", ") +
                            ".")) }}
                </form>
            </div>
            {% endif %}

            {% if project.structure_files %}
                <ul class="list-group">
                    {% for file in project.structure_files %}
                    <li class="list-group-item">
                        {{ file.path.split('/')[-1] }}
                        <span data-toggle="tooltip" data-placement="top" class="has-tooltip" title="{{ mapper_button_tooltip }}">
                            
                        </span>
                        <span data-toggle="tooltip" data-placement="top" class="has-tooltip" title="{{ delete_button_tooltip }}">
    
        </span>
        {#{{ process_form.delete_button(class="btn btn-danger" + delete_button_class,
                    icon="glyphicon-remove") }}#}

                        {#{{ process_form.hidden_tag() }}#}

                    </li>
                    
                    {% endfor %}    
                </ul>
            {% else %}
            <div class="panel-footer">
                <p>There are no Structure Maps in this project.</p>
                <p>Click the "Map Structure" button to create a structure map that tells Wordseer what content and metadata to extract from your XML documents.</p>
                <p>If you already have a Structure Map (in JSON format), you can just upload it with the form above.</p>
            </div>
            {% endif %}
        </div>

        <div role="tabpanel" class="tab-pane panel {% if project.status == 0 %}
                        panel-default
                        {% endif %}
                        {% if project.status == 1 %}
                        panel-info active
                        {% endif %}
                        {% if project.status == 2 %}
                        panel-success active
                        {% endif %}" id="log">
            <div class="panel-heading ">
                <div class="panel-title">
                    <h4>Status: 
                        {% if project.status == 0 %}
                        not processed.
                        {% endif %}
                        {% if project.status == 1 %}
                        currently processing.
                        {% endif %}
                        {% if project.status == 2 %}
                        processing complete.
                        {% endif %}
                    </h4>
                </div>
            </div>
            <div class="panel-body">
            {{ macros.show_logs(project_errors, "alert alert-danger", "Errors") }}
            {{ macros.show_logs(project_warnings, "alert alert-warning", "Warnings") }}
            {{ macros.show_logs(project_infos, "alert alert-info", "Info") }}
            </div>
        </div>
    </div>

{% endblock %}
{% block sidebar %}
<h2>Directions</h2>
<ol>
    <li>Prepare a directory to upload with the files that you want to process.</li>
    <li>Use the form below to upload the directory.</li>
    <li>Use the checkbox to select one of the uploaded files, then press
        "Map Structure". This will send you to the structure mapper. Follow
        the on screen directions to create a description of the structure of
        your collection's xml files. It will generate a structure file that will
        be displayed below.</li>
    <li>You may generate several structure files, but you must use one when
        processing. To process, select the structure file you'd like to use then
        click "Process".</li>
    <li>Once processing is finished, you will see a button to view the resulting
        data.</li>
    </ol>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('uploader.static',
        filename='upload-input-group.js') }}"></script>
<script src="{{ url_for('uploader.static',
        filename='tooltips.js') }}"></script>

<script type="text/javascript">
    // $(document).ready(function(){
        
    //     // handle upload forms via ajax
    //     $("form.upload").submit(function(e){
    //         e.preventDefault();
    //         var data = new FormData(),
    //             files = this[2].files;
    //         $.extend(data, $(this).serializeArray());
    //         data["project_id"] = {{project.id}};

    //         $.each(files, function(i, file){
    //             data.append('files[]', file, file.name);
    //         });
    //         debugger;




    //     });
    // });
</script>
{% endblock %}
{#{{ macros.render_errors(process_form.selection.errors) }}#}