{% import "macros.html" as macros %}
{% extends "item_list.html" %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('uploader.static',
        filename='upload-input-group.js') }}"></script>

<script src="{{ url_for('uploader.static',
        filename='show_tagger.js') }}">
</script>
{% endblock %}
{% block title %}Document List{% endblock %}
{% block page_header %}
{{ macros.breadcrumbs([
        (url_for('uploader.projects'), "Projects"),
        ("", project.name)
        ])}}
{% endblock %}

{% block creation_header %}Upload new document{% endblock %}
{% block creation_form %}
<form method="POST" enctype="multipart/form-data"
      class="form-inline clearfix" role="form">
    {{ create_form.hidden_tag() }}
    {{ macros.render_field(create_form.uploaded_file,
                multiple="multiple",
                accept=allowed_extensions|join(", "),
                button=create_form.upload_button(
                    class="btn btn-primary left-margin",
                    icon="glyphicon-cloud-upload"),
                help=("Allowed extensions: " + allowed_extensions|join(", ") +
                    ".")) }}
</form>
{% endblock %}

{% block list_header %}Existing documents{% endblock %}
{% block list_form %}
{% if process_form.selection.choices %}
{{ macros.render_errors(process_form.selection.errors) }}
<form method="POST" role="form">
    {{ process_form.hidden_tag() }}
    {{ macros.selection_table(process_form.selection, "document",
                "table table-striped table-hover click-anywhere",
                "File Name", "uploader.document_show", project_id=project.id) }}

    <h3>Selected file actions:</h3>
    {{ process_form.structure_button(class="btn btn-info",
                icon="glyphicon-list", id='structure-button') }}
    {{ process_form.process_button(class="btn btn-primary",
                icon="glyphicon-tasks") }}
    {{ process_form.delete_button(class="btn btn-danger",
                icon="glyphicon-remove") }}
</form>
{% else %}
<p>There are no files in this project.</p>
{% endif %}
{% endblock %}
<!--
{% block xml_tagger %}

<!--<link rel="stylesheet" href="{{ url_for('uploader.static',
        filename='tagger/css/bootstrap.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('uploader.static',
        filename='tagger/css/style.css') }}" type="text/css" />

<script data-main="{{ url_for('uploader.static',
        filename='tagger/js/main') }}" src="{{ url_for('uploader.static',
        filename='tagger/js/contrib/require-jquery.js') }}"></script>
<div id="tagger">
    <input id="hidden-filename" type="hidden" value="/uploades/{{process_form.selection.data[0] }}"/>
    <div class="header">
        <span class="btn btn-success save">save</span>
    </div>
    <div class="box" id="tagContainer"></div>
    <div class="box" id="tagHierarchy"></div>
    <div class="box" id="content"></div>

    <div id="modal"></div>
</div>
{% endblock %}
-->