<!-- stylesheets -->
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='fonts/bitter/stylesheet.css')}}'>

<link rel='stylesheet' type='text/css'
    href="{{ url_for('wordseer.static',
        filename='extjs/resources/css/ext-all.css')}}">

<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='style/new-ui.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='style/main.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='style/d3.css')}}'>

<!-- scripts -->
<!-- libraries -->
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='closure/goog/base.js')}}'></script>

<script src='{{ url_for('wordseer.static',
    filename='jquery/jquery.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='jquery/jquery.scrollTo.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='jquery/jquery.resizableColumns.js')}}'></script>

<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='raphael.js')}}'></script>

<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='wordtree.js')}}'></script>

<script src="{{ url_for('wordseer.static',
    filename='d3/d3.v3.min.js')}}" charset="utf-8"></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='d3/crossfilter.v1.js')}}'></script>

<script type="text/javascript" src='{{ url_for('wordseer.static',
    filename='canvg/canvg.js')}}'></script>
<script type="text/javascript" src='{{ url_for('wordseer.static',
    filename='canvg/rgbcolor.js')}}'></script>

<script type='text/javascript' src='{{ url_for('wordseer.static', filename='base64/base64.js')}}'></script>

<!-- Ext -->
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='WordSeer/util.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='extjs/ext-all-debug.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='WordSeer/new-ui.js')}}'></script>
