<!-- stylesheets -->
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='fonts/bitter/stylesheet.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='fonts/open-sans/regular/stylesheet.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='fonts/open-sans/light/stylesheet.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='fonts/open-sans/bold/stylesheet.css')}}'>

<link rel='stylesheet' type='text/css'
    href="{{ url_for('wordseer.static',
        filename='extjs/resources/css/ext-all.css')}}">

<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='style/main.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='style/d3.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='c3/c3.min.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='font-awesome/css/font-awesome.min.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('wordseer.static',
    filename='style/new-ui.css')}}'>


<!-- scripts -->
<!-- libraries -->
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='closure/goog/base.js')}}'></script>

<script src='{{ url_for('wordseer.static',
    filename='jquery/jquery.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='jquery/jquery.scrollTo.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='jquery/jquery.resizableColumns.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='raphael.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='wordtree.js')}}'></script>
<script src='{{ url_for('wordseer.static',
    filename='d3/d3.min.js')}}' charset="utf-8"></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='d3/crossfilter.v1.js')}}'></script>
<script src='{{ url_for('wordseer.static',
    filename='c3/c3.js')}}' charset="utf-8"></script>
<script src='{{ url_for('wordseer.static',
    filename='moment.js')}}' charset="utf-8"></script>
<script type="text/javascript" src='{{ url_for('wordseer.static',
    filename='canvg/canvg.js')}}'></script>
<script type="text/javascript" src='{{ url_for('wordseer.static',
    filename='canvg/rgbcolor.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='base64/base64.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='lodash.min.js')}}'></script>


<!-- Ext -->
<script charset="utf-8">
    // pass some variables from flask to JS
    var ws_static_path = "{{ url_for('.static', filename='wordseer_app') }}";
    var ws_project_path = "{{ url_for('uploader.project_list') }}";
    var project_id = {{ project_id }};
    var ws_api_path = "";
</script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='wordseer_app/util.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='extjs/ext-all-debug.js')}}'></script>
<script type='text/javascript' src='{{ url_for('wordseer.static',
    filename='wordseer_app/new-ui.js')}}'></script>
