# Virtual Environment
venv

# Python
*.py[cod]
__pycache__


# Database
db
*.db

# Documentation
docs/build

# Stanford
stanford-corenlp

# AWS
.elasticbeanstalk/

# line_profiler
*.*prof

# logs
*.log

app/wordseer/static/wordseer_app/css/config.rb

app/wordseer/static/wordseer_app/css/.sass-cache/


*.ipynb

*.xml

*.json

*.scssc

app/wordseer/static/style/config.rb
/start_windows.bat
preferences.json

requirements-pexpect.txt
