# Virtual Environment
venv

# Vim
*.sw[po]

# Python
*.py[cod]
__pycache__

# Database
*.db
db

# Documentation
docs/build

# Stanford
stanford-corenlp

# AWS
.elasticbeanstalk/

# line_profiler
*.*prof

