# Virtual Environment
venv

# Python
*.py[cod]
__pycache__


# Database
db
*.db

# Documentation
docs/build

# Stanford
stanford-corenlp

# AWS
.elasticbeanstalk/

# line_profiler
*.*prof

# logs
*.log

.sass-cache/

*.ipynb

*.scssc

/start_windows.bat
preferences.json

requirements-pexpect.txt

get-pip.py

*.BAK

errorlog

accesslog

gunicorn.pid
