Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-Security==1.7.5
flask-reverse-proxy==0.2.0.1
SQLAlchemy==0.9.4
Unidecode==0.4.18
pexpect==3.2
sqlalchemy-migrate==0.9.1
mock==1.0.1
inflect==0.2.4
nltk==3.1
PyMySQL==0.7.2