/* This is a stylesheet written in Sass, a language for generating CSS 
stylesheets from sass-lang.com
To compile: 
 $ sass --watch <filename>.scss:<filename>.css
*/

$main_font_family: 'Open Sans', 'sans-serif';
$header_font_family: 'Open Sans';
$main_text_color: #666;
$header_text_color: black;
$main_background_color: white;
$secondary_color: white;
$main_page_height: 700px;
$ratio: 1.61;
$base_measure: 500px;

$tall_row: $base_measure;
$medium_row: $tall_row/$ratio;
$short_row: $medium_row/$ratio;
$tiny_row: $short_row/$ratio;

$huge_space: $tiny_row/$ratio/$ratio;
$big_space: $huge_space/$ratio;
$medium_space: $big_space/$ratio;
$small_space: $medium_space/$ratio;
$space: $small_space/$ratio;
$tiny_space: $space/$ratio;

$wide_column: $tall_row*$ratio;
$medium_column: $wide_column/$ratio;
$narrow_column: $medium_column/$ratio;
$tiny_column: $narrow_column/$ratio;

$big_icon: $big_space;
$medium_icon: $medium_space;
$small_icon: $small_space;

$main_font_size: $medium_space;

$border_width: 1px;
$border_color: #AAA;
$color_adjust_amount: 20;
$text_color_adjust_amount: 30;
$light_border_color: lighten($border_color, $color_adjust_amount);
$border_style: solid;


/** Mixins **/

@mixin border($side, $color: $border_color, $style: $border_style) {
    @if ($side != all) {
        border-#{$side}: $border_width $style $color;
    } @else {
        border: $border_width $style $color;
    }
}

@mixin padded($size:0px, $margin:0px) {
    padding: $size;
    margin: $margin;
}

@mixin section {
    @include padded($space, $medium_space);
}

@mixin subsection {
    @include padded($small_space, $tiny_space);
}

@mixin centered {
    margin-left:auto;
    margin-right:auto;
}

/** Declarations **/

body {
    font: {
        family: $main_font_family;
        size: $main_font_size;
    }
    height: 100%;
    color: $main_text_color;
}

#nav {
    float:left;
    width:$tiny_column;
    @include centered();
    position:fixed;
    top:0px;
    #header {
        @include padded($space, $space);
        display: inline-block;
        font: {
            family: $header_font_family;
            size: $big_space;
        }
        color: black;
        #subheader {
            font-size: $big_space;
        }
    }
}

#content {
    margin-left: $tiny_column + $space;
    width:$wide_column;    
}

ul.nav {
    @include padded(0);
}

li.nav-item {
    list-style-type: none;
    @include padded($space, $space);
    a {
        text-decoration: none;
        font-family: $header_font_family;
        color: $header_text_color;
    }
}
.section {
    @include section();
}

h1, h2, h3, h4 {
    font: {
        family: $header_font_family;
    }
    color: $header_text_color;
}

.hidden {
    display:none;
}

