<h1>Change password</h1>
<form action="{{ url_for_security('change_password') }}" method="POST"
    name="change_password_form">
    {{ change_password_form.hidden_tag() }}
    {{ render_field_with_errors(change_password_form.password,
        class="form-control", placeholder="Password") }}
    {{ render_field_with_errors(change_password_form.new_password,
        class="form-control", placeholder="New password") }}
    {{ render_field_with_errors(change_password_form.new_password_confirm,
        class="form-control", placeholder="Confirm New Password") }}
    {{ render_field(change_password_form.submit) }}
</form>