{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}
    <h1>Login</h1>
    <form action="{{ url_for_security('login') }}" method="POST"
        name="login_user_form">
        <div class="form-group">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_errors(login_user_form.email,
                class="form-control", placeholder="Your email") }}
        </div>
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.password,
                class="form-control", placeholder="Password") }}
        </div>
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.remember) }}
            {{ render_field(login_user_form.next) }}
        </div>
        {{ render_field(login_user_form.submit, class="btn btn-primary") }}
    </form>
    {% include "security/_menu.html" %}
{% endblock %}
