{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block body %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<h1>Reset password</h1>
<form action="{{ url_for_security('reset_password',
    token=reset_password_token) }}" method="POST" name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    <div class="form-group">
        {{ render_field_with_errors(reset_password_form.password,
            class="form-control", placeholder="Password") }}
    </div>
    <div class="form-group">
        {{ render_field_with_errors(reset_password_form.password_confirm,
            class="form-control", placeholder="Confirm password") }}
    </div>
    {{ render_field(reset_password_form.submit, class="btn btn-primary") }}
</form>
{% include "security/_menu.html" %}