/***************************
Visualizations
***************************/
svg:{
    background-color:white;
}
/******  Word Tree *******/

text.leaf{
    fill:#aaa;
    cursor:pointer;
}

text.tree{
    cursor:pointer;
    fill:black;
}

text.selected{
    text-decoration:underline;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #D17519;
  stroke-width: 0.5px;
}

text.number-popup{
    fill:#aaa;
}

g.sentence-popup{
    fill:#fff;
    stroke-width:0.5px;
}

text.wordtree-highlight-sentence {
    fill:#B35522;
}

/***************************
Bar Charts
****************************/
.bar-chart-container{
    display:inline-block;
    float:left;
}

.bar rect.fill {
  fill: skyblue;
}

.bar rect.outline {
  fill: white;
  stroke:#aaa;
  stroke-width:0.5px;
}
.bar rect.outline {
  fill: white;
  stroke:#aaa;
  stroke-width:0.5px;
}


.bar text {
  fill: #aaa; /* hide the text */
  font-size:8px;
}
/* hovering over a bar */
.bar.hovered rect.fill {
  fill: tan;
}
.bar.hovered text {
  fill: tan;
}
/* clicking a bar to filter it*/
.bar.clicked rect.fill {
  fill: steelblue;
}
.bar.clicked text.fill {
  fill: steelblue;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis text{
    font-size:10px;
}
.y.axis path {
  stroke: #666;
}
.x.axis path{
    stroke:#666;
}

/****************************************************
Range Filters
*****************************************************/

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.title span {
  padding-left: 1em;
  font-size: smaller;
  color: #aaa;
}

.reset {
  text-decoration: underline;
  cursor: pointer;
}

.bar {
  stroke-width: 5;
}

.background.bar {
  stroke: #aaa;
}

.foreground.bar {
  stroke: skyblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  fill: #666;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #aaa;
}

/****************************************************
Word Frequency Charts
*****************************************************/


path.area {
  fill-opacity: 0.3;
}

.bar-line.string {
  cursor: pointer;
}
