span.word:hover, span.menu-word, .menu-word {
    background:'lightblue';
    fill:'lightblue';
    cursor:pointer;
}

td.word-wrap div{
    white-space:normal;
}
span.gov-highlight{
	background:rgba(256, 256, 100, 0.4);
}
span.dep-highlight{
	background:rgba(100, 256, 256, 0.4);
}
/*******************************
Desktop
********************************/
.wordseer-desktop{
    background-image:url('../wallpapers/abstract.jpg');
}
.wordseer-desktop-body{
    background:transparent;
    border-left:0px solid white;
}


/*****************************
Windows
*****************************/
.x-tool-popout {
    background-image:url('icons/pop-out-tool.gif');
    background-size: 15px;
}

/*****************************
Exporting
*****************************/

a.download {
    padding-left:3px;
    padding-right:3px;
}

/*******************************
document viewer
******************************/
div.unit{
    padding-bottom:10px;
    padding-left:5px;
}
div.metadata{
    font-weight:bold;
}
div.content {
    padding-left: 5px;
}
span.metadata {
    display:block;
}
span.metadata-name{
    padding-right:5px;
}
span.metadata-value {
    padding-right: 2px;
}
div.unit.document{
    padding-left:10px;
    padding-right:10px;
    background:white;
}

ul.contents-listing {
    padding-left:10px;
}

ul.contents-listing.current{
    background-color: rgba(255, 250, 205, 0.5);
    font-weight:bold;
}

span.sentence.highlight {
    background-color:rgba(256, 256, 100, 0.4);
}

span.sentence:hover {
    background-color: rgba(256, 256, 100, 0.2);
}
/****************************
App Bar
****************************/
.wordseer-appbar{
    background:rgba(0,0,0,0.1);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-right:2px solid rgba(0,0,0,0.2);
    border-top:2px solid rgba(0,0,0,0.2);
    border-bottom:2px solid rgba(0,0,0,0.2);
    border-left:0px;
    height:100px;
    margin-top:auto;
    margin-bottom:auto;
}
.wordseer-appbar-button{
    cursor:pointer;
    padding-top:5px;
    padding-bottom:5px;
    display:block;
    height:42px;
}
.document-browser{
    background-image:url('icons/document-browser.png');
}
.document-browser-16{
    background-image:url('icons/document-browser-16.png') !important;
}
.wordseer-appbar-tip{
    background:rgba(0,0,0,0);
    border:0px;
}
.wordseer-appbar-text{
    color:white;
}

.combo-box-collections{
    position:relative;
    top:2px;
    padding-right:5px;
}
/******************************
Document display
******************************/
p.speaker{
    font-weight:bold;
}
p.paragraph{
    padding-left:10px;
}
/***************************
Word Sets
***************************/
.new-set{
   background-image: url('icons/new-set.png') ;
}
.new-subset{
    background-image: url('icons/new-subset.png') ;
}
.delete-set{
    background-image: url('icons/delete-set.png') ;
}
.word-sets-window{
    background-image: url('icons/word-sets-window.png') !important;
}
img.combo-box-word-set{
    position:relative;
    top:2px;
    padding-right:5px;
}

/***************************
Word Sets
***************************/
.set-tag {
    cursor: pointer;
}

/***************************
Document Browser
***************************/
.add-to-set{
    background-image: url('icons/add-to-set-16.png') ;
}
.save-as-collection{
    background-image: url('icons/document-browser-16.png') ;
}
.remove-from-set{
    background-image: url('icons/remove-from-set.png') ;
}
.organize-tool{
    background-image: url('icons/organize-tool-small2.png') ;
}

/***************************
Metadata
***************************/
.string-facet-value-icon {
    display: none !important;
}

span.metadata {
    margin-top: 3px;
    margin-bottom:3px;
    color: #666;
    font-size: 80%
}

span.propertyname {
    font-weight: bold;
}

/**************************
Layout Panel
**************************/
.x-tool-newcolumn {
    background: url('icons/vsplit.png') no-repeat scroll 0 0!important;
}
.x-tool-newrow {
    background: url('icons/hsplit.png') no-repeat scroll 0 0!important;
}

.inactive-panel {
    background-image: none;
    background-color: rgb(243, 243, 243) !important;
    opacity: 0.5;
}


