
<div id='tagger-intro' class='panel panel-info'>
    <div class='panel-heading'>
        <div class='panel-title'>Introduction (Click anywhere to hide this)</div>
    </div>
    <div class='panel-body'>
        <p>This page allows you to tag elements of interest in your XML document to use in the analysis. 
            When done mapping the document, click <span class='btn btn-sm btn-success'>Save and Return</span> to save the document structure file to your project. 
            The results of this the tagging will be saved in a a '##_structure.json' file.
            The file will not replace any previously created files.</p>

        <h3>Wordseer elements types:</h3>
        <ul>
            <li><b>Text nodes </b> are the XML nodes that contain the content text to analyze (e.g. book paragraphs, quotes, stanzas...etc.).
                <ul>
                    <li>Click <span class='node-tag-action node-tag-action-text'  style='opacity:1' title='Use as Text'> <span class='glyphicon glyphicon-ok'></span>&nbsp;Text</span> to add a <b>text node</b>.</li>
                    <li>The are can be any number of <b>text nodes</b>.</li>
                    <li><b>Text nodes</b> are called sentences by default and cannot be renamed.</li>
                </ul></li>
            </br>
            <li><b>Property Nodes</b> are XML nodes that contain additional descriptive information (or meta data) about the text (e.g. text type, author, line number...etc.).
                <ul>
                    <li>Click <span class='node-tag-action node-tag-action-property' style='opacity:1'  title='Use as Property'> <span class='glyphicon glyphicon-ok'></span>&nbsp;Property</span> to add a <b>property node</b>.</li>
                    <li><b>Property nodes</b> can be assigned a display name (i.e. renamed).</li>
                    <li>Some <b>Property nodes</b> can be assigned titles from other nodes (see below).</li>
                    <li><b>Property nodes</b> can be edited at any time by clicking on a node in the properties bucket (<span class='glyphicon glyphicon-edit'></span>).</li>
                    
                </ul></li>
        </ul>

        <h3>XML elements types:</h3>
        <p>XML Elements, or nodes, are represented in a tree of different types.</p>
        <ul>
            <li>The XML document  <span class='btn btn-sm btn-success'>root element</span> is added by default and is treated as a <b>property node</b> (i.e. can be assigned a title and renamed).</li>
            <li>Nodes in <span class='btn btn-sm btn-info'>light blue </span> are either leaf nodes or attributes of other nodes. These nodes usually contain text and can be either <b>text nodes</b> or properties.</li>
            <li>Nodes in <span class='btn btn-sm btn-primary'>dark blue </span> are XML tree nodes that have child nodes but no content of their own. 
                Such nodes are usually <b>property nodes</b> and can be assigned title text from a child nodes when it is added as a property.</li>

        </ul>
        <p>In certain cases, you might want to choose a node with children as a <b>text node</b> (e.g. if the document contains formatting tags that should be ignored). In this case, all the text will be extracted from the child nodes into the text node content.</p>

        <h3>Notes:</h3>
        <ul>

            <li>A node can be either a <b>text node</b> or <b>property node</b>, not both.</li>
            <li>Some XML tag names have a semantic meaning (e.g. Place or Name). You can use this name as an additional property for your analysis.</li>
            <li>This page provides a preview only of the possible Wordseer output. However, this preview provides no functionality and might differ form the final output</li>
            
        </ul>
    </div>
</div>



