<div id='output-preview-header' class='panel-heading'>Output Preview - Display Name (XML Name)</div>
<div class='panel-body'>
    <% if(data.length>0) {%> <table id='output-preview-table' class='table'>

        <thead>
            <tr>
                <% _.each(data[0], function(value, key){%>
                <th title='<%=value.help%>' class="<%=value.id%>"><%=value.name%> (<%=value.tag%>)</th>
                <%});%>
            </tr>
        </thead>
        <tbody>
            <% _.each(data, function(row){%>
            <tr>
                <% _.each(row, function(value, key){%>
                <td title='<%=value.help%>' class="<%=value.id%>"><%=value.value%></td>
                <%});%>
            </tr>
            <%});%>

        </tbody>
    </table> 
    <%}
    else {%>
    <p>Add one text node to see output preview</p>
    <%}%>
</div>