<!--<div id='rename-form-background' class='fadeout-background hidden-box'></div>-->
<div id='rename-form' class='panel panel-default'>

    <div class='panel-heading tagger-tooltip' title='Edit the title and display text for a property'>
        <h4 class='panel-title'>Edit property title and display</h4>
    </div>
    <div class='panel-body'>

        <h4>Set display name for <%=tag%></h4>
        <input type="hidden" id='title-tree-node-target' value='<%=id%>'/>
        <div class="input-group">
            <span class="input-group-addon">Display Name</span>
            <input type="text" id='selected-display-title' data-id='' class="form-control" value="<%=displayName%>">
            <span class="input-group-addon">Data Type</span>
            <div class="input-group-btn">
                <button type="button" id='selected-property-data-type' class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-type="<%=dataType%>"><%=dataType%> <span class="caret"></span></button>
                <ul id='selected-property-data-type-list' class="dropdown-menu" role="menu">
                    <li><a href="#" data-type='string'>String</a></li>
                    <li><a href="#" data-type='date'>Date</a></li>
                    <li><a href="#" data-type='number'>Number</a></li>
                </ul>
            </div> 
            <input type="text" id="selected-property-date-format" class='form-control' placeholder='D3 Date Format'
                   <% if(dataType!=='date'){%>style="display:none"<%}%> >

                   <a id='selected-property-date-format-help' href='https://github.com/mbostock/d3/wiki/Time-Formatting' target='_blank' class='input-group-addon tagger-tooltip' 
                   title='Enter the date format according to d3 standards. Click to view'
                   <% if(dataType!=='date'){%>style="display:none"<%}%>>?</a>

        </div>
        <% if(type!==METADATA_TAG){%>
        <h4>Assign title to <%=tag%></h4>
        <div id='title-tree-nodes' class='tagger-tooltip panel panel-default' title='Click on a tree node to set it as a title'>

        </div>
        <div id='title-tree-xml-preview' class='tagger-tooltip panel panel-default' title='Previe XML document'></div>
        <div class="input-group">
            <span class="input-group-addon">Title Element</span>
            <input type="text" id='selected-property-title' data-id='<%=titleId%>' class="form-control" placeholder="Title Element" value='<%=displayName%>'>

        </div>
        <%}%>
        <br>
        <div class="input-group"> 
            <span class="input-group-addon">
               <input type='checkbox' id='use-title-as-meta' value="0" <% if(useTitleAsProperty){%> checked <%}%> /> Use tag title as a Property
            </span>
            <input type="text" id='use-title-as-meta-title' data-id='<%=titleId%>' class="form-control" placeholder="Property tag title" value='property_title'>
        </div>
        <br/>
        <button id='rename-form-clear-title' class="btn btn-info" >Clear</button>
        <button id='rename-form-cancel-btn' class='btn btn-danger' onclick="hideRenameDialogue(true, '<%=id%>', '<%=nodeType%>')">Cancel</button>
        <button id='rename-form-save-btn' class='btn btn-success' onclick="saveRenameDialogue()">Save</button>


    </div>
</div>