<div id='rename-form' class='panel panel-default'>
    <div id='rename-form-backgroun' class='fadeout-background'></div>
    <div class='panel-heading tagger-tooltip' title='Edit the title and display text for a property'>
        <h3 class='panel-title'>Edit property title and display</h3>
    </div>
    <div class='panel-body'>

        <h3>Set display name for <%=tag%></h3>
        <input type="hidden" id='title-tree-node-target' value='<%=id%>'/>
        <div class="input-group">
            <span class="input-group-addon">Display Name</span>
            <input type="text" id='selected-display-title' data-id='' class="form-control" value="<%=displayName%>">
        </div>
        <% if(type!==METADATA_TAG){%>
        <h3>Assign title to <%=tag%></h3>
        <div id='title-tree-nodes' class='tagger-tooltip' title='Click on a tree node to set it as a title'>

        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Title Element</span>
            <input type="text" id='selected-property-title' data-id='<%=titleId%>' class="form-control" placeholder="Title Element" value='<%+displayName%>'>
            <span id='rename-form-clear-title' class="input-group-addon btn btn-info" >Clear</span>
        </div>
        <%}%>
        <br/>
        <button id='rename-form-cancel-btn' class='btn btn-danger' onclick="hideRenameDialogue()">Cancel</button>
        <button id='rename-form-save-btn' class='btn btn-success' onclick="saveRenameDialogue()">Save</button>


    </div>
</div>