<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% block head %}{% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - WordSeer</title>

        <!-- Bootstrap stuff -->
        <link rel="stylesheet" href="{{ url_for('uploader.static',
            filename='custom_styles.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('uploader.static',
            filename='external_lib/bootstrap.min.css') }}">

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile
                    display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"
                           href="{{ url_for('uploader.home') }}">
                            WordSeer
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for
                    toggling -->
                    <div class="collapse navbar-collapse"
                         id="bs-example-navbar-collapse-1">
                        {% if current_user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            <li><a
                                    href="{{ url_for('uploader.project_list') }}">
                                    Projects
                                </a></li>
                        </ul>
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if not current_user.is_authenticated %}
                            <li>
                                <a href="{{ url_for_security('login') }}">
                                    Log in
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for_security(
                                        'register') }}">
                                    Register
                                </a>
                            </li>
                            {% else %}
                            <li><span>
                                    Logged in as
                                    <strong>{{ current_user.email }}</strong>
                            </li></span>
                            <li>
                                <a href="{{ url_for_security('logout') }}">
                                    Log out
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            {% block body %}{% endblock %}
        </div>
        {% block toplevel %}{% endblock %}
        <script src="{{ url_for('uploader.static', filename='external_lib/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('uploader.static', filename='external_lib/bootstrap.min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>

