{% import "macros.html" as macros %}
{% extends "item_list.html" %}
{% block scripts %}
    {{ super() }}
	<script>
		$(document)
			.on('change', '.btn-file :file', function() {
				var input = $(this),
				numFiles = input.get(0).files ? input.get(0).files.length : 1,
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
				input.trigger('fileselect', [numFiles, label]);
		});
		
		$(document).ready( function() {
			$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
				
				var input = $(this).parents('.input-group').find(':text'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;
				
				if( input.length ) {
					input.val(log);
				} else {
					if( log ) alert(log);
				}
				
			});
		});		
	</script>
{% endblock %}
{% block title %}Document List{% endblock %}
{% block page_header %}
    {{ macros.breadcrumbs([
        (url_for('projects'), "Projects"),
        ("", project.name)
        ])}}
{% endblock %}

{% block creation_header %}Upload new document{% endblock %}
{% block creation_form %}
    <form method="POST" enctype="multipart/form-data"
        class="form-inline clearfix" role="form">
        {{ create_form.hidden_tag() }}
        {{ macros.render_field(create_form.uploaded_file,
                multiple="multiple",
                accept=allowed_extensions|join(", "),
                button=create_form.upload_button(
                    class="btn btn-primary left-margin",
                    icon="glyphicon-cloud-upload"),
                help=("Allowed extensions: " + allowed_extensions|join(", ") +
                    ".")) }}
    </form>
{% endblock %}

{% block list_header %}Existing documents{% endblock %}
{% block list_form %}
    {% if process_form.selection.choices %}
        {{ macros.show_errors(process_form.selection.errors) }}
        <form method="POST" role="form">
            {{ process_form.hidden_tag() }}
            {{ macros.selection_table(process_form.selection, "document",
                "table table-striped table-hover click-anywhere",
                "File Name", "document_show", project_id=project.id) }}

            <h3>Selected file actions:</h3>
            {{ process_form.process_button(class="btn btn-primary",
                icon="glyphicon-tasks") }}
            {{ process_form.delete_button(class="btn btn-danger",
                icon="glyphicon-remove") }}
        </form>
    {% else %}
        <p>There are no files in this project.</p>
    {% endif %}
{% endblock %}
