{% extends "item_list.html" %}
{% block title %}Projects{% endblock %}
{% block page_header %}Projects{% endblock %}
{% block creation_header %}Create new project{% endblock %}
{% block creation_form %}
<form method="POST" enctype="multipart/form-data" class="form-inline"
    role="form">
    {{ create_form.hidden_tag() }}
    <div class="form-group">
        {{ create_form.name.label(class="sr-only") }}
        {{ create_form.name(placeholder="Project Name", class="form-control") }}
    </div>
    {{ create_form.create_button(class="btn btn-primary") }}
</form>
{% endblock %}
{% block list_header %}Existing projects{% endblock %}
{% block list_form %}
<h2>Existing projects</h2>
{% if projects %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="select">Delete Project</th>
                <th>Project Name</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
            <td class="select">
                Select
            </td>
            <td>
                <a href="{{ url_for('project_show', project_id=project.id) }}">
                    {{ project.name }}
                </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You own no projects.</p>
{% endif %}
{% endblock %}
